@using CMS.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CMS.Models.PageModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentPageId" class="control-label"></label>
                <select asp-for="ParentPageId" class="form-control" asp-items="ViewBag.ParentPageId"></select>
                <span asp-validation-for="ParentPageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keywords" class="control-label"></label>
                <input asp-for="Keywords" class="form-control" />
                <span asp-validation-for="Keywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" accept=".webp,.jpeg,.jpg,.png,.gif" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div id="contentInputs">
                @if (Model.Contents.Count > 0)
                {
                    foreach (var content in Model.Contents as List<PageContentModel>)
                    {
                        <div class="form-group">
                            <input type="hidden" name="contentOrders" value="@content.Order" />
                            <input type="hidden" name="contentTypes" value="@(content.Type == ContentTypesEnum.Image ? "Image" : "Text")" />

                            @if (content.Type == ContentTypesEnum.Image)
                            {
                                <label>Sekcja @content.Order zdjęcie</label>
                                <input type="file" name="fileContents" class="form-control" accept=".webp,.jpeg,.jpg,.png,.gif" />
                                <span validation="@($"Contents[{content.Order}]")" class="text-danger"></span>
                            }
                            else
                            {
                                <label>Sekcja @content.Order tekst</label>
                                <textarea name="textContents" class="form-control">@content.Value</textarea>
                                <span validation="@($"Contents[{content.Order}]")" class="text-danger"></span>
                            }

                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-secondary" onclick="addTextContent()">Add Text</button>
                <button type="button" class="btn btn-secondary" onclick="addImageContent()">Add Image</button>
                <input type="submit" value="Save" class="btn btn-primary" />
                <br>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        var currentIndex = @((ViewData["Contents"] != null) ? (ViewData["Contents"] as List<PageContentModel>).Count + 1 : 1);

        function addTextContent() {
            var contentInputs = document.getElementById('contentInputs');
            var div = document.createElement('div');
            div.className = 'form-group';
            div.innerHTML = `<input type="hidden" name="contentOrders" value="${currentIndex}" />
                             <input type="hidden" name="contentTypes" value="Text" />
                             <label>Sekcja ${currentIndex} tekst</label>
                             <textarea name="textContents" class="form-control"></textarea>
                             <span validation="Contents[${currentIndex}]" class="text-danger"></span>`;
            contentInputs.appendChild(div);
            currentIndex++;
        }

        function addImageContent() {
            var contentInputs = document.getElementById('contentInputs');
            var div = document.createElement('div');
            div.className = 'form-group';
            div.innerHTML = `<input type="hidden" name="contentOrders" value="${currentIndex}" />
                             <input type="hidden" name="contentTypes" value="Image" />
                             <label>Sekcja ${currentIndex} zdjęcie</label>
                             <input type="file" name="fileContents" class="form-control" accept=".webp,.jpeg,.jpg,.png,.gif" />
                             <span validation="Contents[${currentIndex}]" class="text-danger"></span>`;
            contentInputs.appendChild(div);
            currentIndex++;
        }
    </script>
}
